<!-- menu -->
<div class="tabs">
    <!-- TODO: need to include +/- buttons for home and opponent scores-->
    <a class="tab-item" ng-click="">
        <label class="item item-input">
            <span class="input-label">Home</span>
            <input type="text" placeholder="0" ng-model="game.homeScore">
        </label>
    </a>
    <a class="tab-item" ng-click="">
        <label class="item item-input">
            <span class="input-label">Opponent</span>
            <input type="text" placeholder="0" ng-model="game.guestScore">
        </label>
    </a>

    <!-- Start game button
         when pressed, button will turn into a time field -->
    <!-- Start Jam / Enter Jam -->
</div>