<!-- menu -->
<div class="tabs tabs-icon-left">
    <a class="tab-item" ng-click="goToPage(&apos;/home&apos;)">
        <i class="icon ion-home"></i> Home
    </a>
    <!--<a class="tab-item" ng-click="teamPage('/teams')">-->
        <!--<i class="icon ion-star"></i> Teams-->
    <!--</a>-->
    <a class="tab-item" ng-click="openPopover($event)">
        <i class="icon ion-star"></i> Teams
    </a>
    <a class="tab-item" ng-click="goToPage(&apos;/games&apos;)">
        <i class="icon ion-flag"></i> Games
    </a>
    <a class="tab-item" ng-click="goToPage(&apos;/gameplay&apos;)">
        <i class="icon ion-ios-game-controller-a"></i> Gameplay
    </a>
    <!--<a class="tab-item" ng-click="goToPage(&apos;/settings&apos;)">-->
    <a class="tab-item" ng-click="editAccount()">
        <i class="icon ion-gear-a"></i> Account
    </a>
    <a class="tab-item" ng-click="logOut()">
        <i class="icon ion-log-out"></i> Log Out
    </a>
</div>