<ion-view view-title="Game" ng-controller="gameController as gameCtrl">
    <ion-content class="game-page">
        <div class="card">
            <div class="item item-divider">
                <h1 class="card-title">Games</h1>
            </div>
            <div class="item item-text-wrap">
                <div class="list card">
                    <div class="row header">
                        <div class="col">Date</div>
                        <div class="col">Home</div>
                        <div class="col">Visitor</div>
                        <div class="col">Location</div>
                        <div class="col">Difference</div>
                        <div class="col">Status</div>
                        <div class="col"></div>
                    </div>
                    <div class="row" ng-repeat="game in games | orderBy:'attributes.date'">
                        <div class="col">
                            <p class="item">{{game.get("date") | date:'MM-dd-yyyy'}} {{game.get("time") | date:'hh:mm a'}}</p>
                        </div>
                        <div class="col">
                            <p class="item">{{game.get("homeTeam").get("teamName")}}</p>
                        </div>
                        <div class="col">
                            <p class="item">{{game.get("visitorTeam")}}</p>
                        </div>
                        <div class="col">
                            <p class="item">{{game.get("location")}}</p>
                        </div>
                        <div class="col">
                            <p class="item">{{game.get("scoreDifference")}}</p>
                        </div>
                        <div class="col">
                            <p class="item">{{game.get("status")}}</p>
                        </div>
                        <div class="col" ng-click="">
                            <button class="button button-royal viewStats" ng-click="viewGame(game)">View Game</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="popup-buttons">
                <button class="button button-positive" ng-click="addGame()">Add a new game </button>
            </div>
        </div>
    </ion-content>
</ion-view>