<ion-view view-title="Team" ng-controller="teamController as teamCtrl">
    <ion-content class="team-page">
        <div class="card">
            <div class="item item-divider">
                <h1 class="card-title">{{currentTeam.get("teamName")}}</h1>
            </div>
            <div class="item item-text-wrap">
                <div class="list card">
                    <div class="row header">
                        <div class="col">Player Name</div>
                        <div class="col">Player Number</div>
                        <div class="col"></div>
                    </div>
                    <div class="row" ng-repeat="player in players">
                        <div class="col">
                            <a ng-click="editPlayer(player)" class="item">
                                <i class=""></i>
                                {{player.get("name");}}
                            </a>
                        </div>
                        <div class="col">
                            <p class="item">{{player.get("playerNumber")}}</p>
                        </div>
                        <div class="col" ng-click="viewStats(player)">
                            <button class="button button-positive viewStats" ng-click="viewStats(player)">View Stats</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="popup-buttons">
                <button class="button button-energized" ng-click="editTeam(currentTeam)">Edit Team</button>
                <button class="button button-calm" ng-click="addPlayer()">Add a new player</button>
                <button class="button button-assertive" ng-click="showConfirm()">Delete Team</button>
            </div>
        </div>
    </ion-content>
</ion-view>